
html {
  font-size: 62.5%;
}

body, html {
  height:100%;
  min-height:100%;
}

body {
  font-family: $openSans;
  padding:0;
  color: #1c2a41;
}

.table-container {
  position:relative;
  padding-left: $sidebarWidth;
}

.container {
  padding: 0;
  width: 100%;
  margin: 0;
}

.empty-message {
  font-size: 5rem;
  color: lightgrey;
  margin-top: 40%;
  text-align: center;
}
