
html {
  font-size: 62.5%;
}

body, html {
  height:100%;
  min-height:100%;
}

body {
  font-family: $openSans;
  padding:10px 0;
  background-color: black;
  color: white;
}

.table-container {
  position:relative;
  padding-left:300px;
}
