
html {
  font-size: 62.5%;
}

body, html {
  height:100%;
  min-height:100%;
}

body {
  font-family: $openSans;
  padding:10px 0;
}

.table-container {
  position:relative;
  padding-left:280px;
  padding-top: 65px;
}
