
html {
  font-size: 62.5%;
}

body, html {
  height:100%;
  min-height:100%;
}

body {
  font-family: $openSans;
  padding:0;
}

.table-container {
  position:relative;
  padding-left: $sidebarWidth;
}

.container {
  padding: 0;
  width: 100%;
  margin: 0;
}
