
.m {
  &__t {
    margin-top:$spacer;
  }
  &__r {
    margin-right:$spacer;
  }
  &__b {
    margin-bottom:$spacer;
  }
  &__l {
    margin-left:$spacer;
  }
}

.p {
  &__t {
    margin-top:$spacer;
  }
  &__r {
    margin-right:$spacer;
  }
  &__b {
    margin-bottom:$spacer;
  }
  &__l {
    margin-left:$spacer;
  }
}

.text-size-xs {
  font-size: 1rem;
}

.text-size-sm {
  font-size: 1.2rem;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}
