
.m {
  &__t {
    margin-top:$spacer;
  }
  &__r {
    margin-right:$spacer;
  }
  &__b {
    margin-bottom:$spacer;
  }
  &__l {
    margin-left:$spacer;
  }
}

.p {
  &__t {
    margin-top:$spacer;
  }
  &__r {
    margin-right:$spacer;
  }
  &__b {
    margin-bottom:$spacer;
  }
  &__l {
    margin-left:$spacer;
  }
}

.text-size-xs {
  font-size: 1rem;
}

.text-size-sm {
  font-size: 1.2rem;
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.selectable {
  cursor: pointer;
}

.lightgrey {
  color: #aaa;
}

.text-alarm {
  color: #FF4d4d;
}

.text-warning {
  color: #ff9f00;
}

.text-ok {
  color: #93c500;
}
