
$selectedColour: #fcb041;

.line-item-data {
  position: relative;
  border: 2px solid #fcb041;
  border-top: 0;
  height: 300px;

  .toolbar {
    @extend .clearfix;
    background-color: #eee;
    padding: 10px 10px 10px 0;

    .fa {
      color: #8dc63f;
      font-size: 20px;
      cursor: pointer;

      &:hover {
        color: darken(#8dc63f, 10%)
      }
    }
  }

  .line-item-data-header {

  }

  .title {
    padding-left: 8px;
    h4, p {
      margin: 0;
      padding: 0;
    }

    h4 {
      margin-bottom: 5px;
    }
  }
}
