
.line-items {
  .line-items-wrapper {
    padding: 0 15px;
    position:relative;
    display:inline-block;
    width:100%;
    margin-bottom: 12px;
  }
  .line-item-header {
    padding: 0 5px;
    font-size: 1.2rem;
    position: absolute;
    background: white;
    z-index: 2000;
    left: 22px;
    top: -10px;
    width: auto;
  }
  .line-item-row {
    padding: 0;
    border: 1px solid #ddd;
    border-left: 0;
    height:60px;
    color: #777;

    .line-item {
      border-left:1px solid #ddd;
      text-align: center;
      padding: 0;
      height: 100%;
      font-size: 1.1rem;
      background-color: white;

      .content {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
