
.line-items {
  .line-items-wrapper, .line-items-header{
    background-color: white;
  }

  .line-items-wrapper {
    position:relative;
    width:100%;

    &:nth-child(even) {
      // background-color: #f9f9f9;
    }
  }
  .line-items-header {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid #e7eaec;
    height: 50px;
    text-align: center;
    background-color: rgba(28, 42, 65, 0.6);
    em {
      font-weight: normal;
    }
    .line-item {
      padding: 0;
      height: 100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      color: white;
    }
  }
  // .line-item-header {
  //   padding: 0 5px;
  //   font-size: 1.2rem;
  //   position: absolute;
  //   z-index: 2000;
  //   left: 22px;
  //   top: -10px;
  //   width: auto;
  // }
  .line-item-row {
    padding: 0;
    height:50px;
    color: #777;
    border-bottom: 1px solid #e7eaec;

    .line-item {
      text-align: center;
      padding: 0;
      height: 100%;
      font-size: 1.1rem;

      .content {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
