
.line-items {
  padding: 15px 15px 65px 15px;
  background-color: white;
  .line-items-wrapper, .line-items-header{
    background-color: white;
  }

  .line-items-wrapper {
    position: relative;
    width: 100%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;

    &:nth-child(even) {
      background-color: rgba(28,42,65,0.02);

    }
  }
  .line-items-header {
    font-size: 12px;
    font-weight: 400;
    height: 50px;
    text-align: center;
    background-color: rgb(28, 42, 65);
    em {
      font-weight: normal;
    }
    .line-item {
      padding: 0;
      height: 100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      color: white;
    }
  }
  // .line-item-header {
  //   padding: 0 5px;
  //   font-size: 1.2rem;
  //   position: absolute;
  //   z-index: 2000;
  //   left: 22px;
  //   top: -10px;
  //   width: auto;
  // }
  .line-item-row {
    padding: 0;
    height:50px;
    border-bottom: 1px solid #e7eaec;

    .line-item {
      @include transition(backround-color, 0.2s, ease-out);
      @include transition(color, 0.4s, ease-out);
      text-align: center;
      padding: 0;
      height: 100%;
      font-size: 1.1rem;
      cursor: pointer;

      &:hover {
        background-color: #fcb041;
        color: white;

        .content {
          color: white;
          .lightgrey {
            color: white;
          }
        }
      }

      .content {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
