
.media-channels {
  .media-channel {
    background-color: #f3f3f4;
    margin-bottom: 15px;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    padding-left:0;
    padding-right:0;

    h4 {
      font-size:1.6rem;
      font-weight:normal;
      margin-bottom: 10px;
    }

    .media-channel-totals {
      height: 40px;
      font-weight: 500;
      margin-bottom:12px;

      .totals-row {
        height: 100%;
        background-color: white;
        border: 1px solid #ddd;
        border-top: 0;

        .total {
          text-align: center;
          padding: 0;
          height: 100%;
          font-size: 1.1rem;
          border-left: 1px solid #ddd;

          .content {
            height:100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }

      }
    }
  }
}
