
.nav-tabs {
  background-color: #337ab7;
  li {
    border-radius: 0;

    a {
      color: $white;
    }

    &:first-child {
      &.active, &:hover, &:focus {
        border-left-color:$white;
        a {
          border-left-color:$white;
        }
      }
    }

    &:hover, &:focus {
      border-color: darken(#337ab7, 10%);
      border-bottom-color: #ddd;
      border-radius: 0;
      a {
        border-radius: 0;
        border-color: darken(#337ab7, 10%);
        border-bottom-color: #ddd;
        background-color: darken(#337ab7, 10%);
      }
    }

    &.active {
      border-radius: 0;
      border-top-color:$white;
      a {
        border-radius: 0;
        border-top-color:$white;
      }
    }
  }
}
