
.sidebar {
  @include transition(width, 0.2s, ease-out);
  background-color: #eee;
  position: fixed;
  left: $applicationSidebarWidth;
  width: $sidebarWidth;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  border-right:1px solid #ddd;

  .sidebar-header {
    padding: 11px 0 0 15px;
    margin-bottom:20px;
    color: black;
    height: 21px;
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  .list-group-item {
    max-height: 40px;
    overflow:hidden;
    padding: 0;
    position: relative;
    border-radius: 0;
    border-right:0;
    &:last-child, &:first-child {
      border-radius: 0;
    }

    &.expanded {
      max-height: 2000px;
    }
  }

  .lead {
    margin-bottom: 0;
    padding: 10px 0px 10px 15px;
    color: #337ab7;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 85%;
    white-space: nowrap;

    &.select {
      cursor: pointer;

      &:hover, &:focus {
        color: darken(#337ab7, 15%);
      }
    }

    .fa {
      font-size: 8px;
      position: absolute;
      right: 20px;
      top: 41%;
    }
  }

  a {
    display: block;
    position: relative;
    .fa {
      font-size: 10px;
      position:absolute;
      right:0;
      top:5px;
    }
  }
}

.sidebar-visible {
  .primary-sidebar {
    width: 280px;
    overflow: auto;

    -webkit-box-shadow: -22px -1px 65px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -22px -1px 65px 3px rgba(0, 0, 0, 0.75);
    box-shadow: -22px -1px 65px 3px rgba(0, 0, 0, 0.75);
  }
}
