
.sidebar {
  @include transition(width, 0.2s, ease-out);
  background-color: #1c2a41;
  position: fixed;
  left: 0;
  width: $sidebarWidth;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;

  .list-group {
    margin-bottom: 0;
  }

  .sidebar-logo {
    padding: 5px 0 5px;
    background-color: #1c2a41;
  }

  .sidebar-header {
    position:relative;
    padding: 10px 0 10px 15px;
    color: #DFE4ED;
    .fa {
      position: absolute;
      right: 20px;
      top: 38%;
    }
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  .list-group-item {
    max-height: 40px;
    overflow:hidden;
    padding: 0;
    position: relative;
    border-radius: 0;
    border:0;
    background-color: #1d3152;
    color: #DFE4ED;
    &:last-child, &:first-child {
      border-radius: 0;
    }

    &.expanded {
      max-height: 2000px;
      color: $white;
    }

    .selected {
      color: #777;
    }
  }

  .sidebar-dropdown {
    height: 0;
    overflow: hidden;
    p.lead {
      padding-left: 15px;
    }

    .list-group-item {
      &:last-child {
        border-bottom: 0;
      }
    }
  }

  .sidebar-group {
    &.expanded {
      .sidebar-dropdown {
        height: auto;
        overflow: visible;
      }
    }
  }

  .media-channel-list {
    padding-left:35px;
    list-style: none;
    li {
      font-size:1.1rem;
      padding-right:17px;
      margin-bottom: 3px;
      .line-items-count {
        font-weight:normal;

        &.ok {
          @extend .text-ok;
        }

        &.warning,
        &.warning.ok, {
          @extend .text-warning;
        }

        &.alarm,
        &.alarm.warning,
        &.alarm.ok {
          @extend .text-alarm;
        }
      }
    }
  }

  .lead {
    margin-bottom: 0;
    padding: 10px 0px 10px 35px;
    color: #DFE4ED;
    font-size: 1.4rem;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 85%;
    $white-space: nowrap;

    &.select {
      cursor: pointer;

      &:hover, &:focus {
        color: $white;
      }
    }
  }

  .fa-circle {
    margin-left: 14px;
  }

  a {
    display: block;
    position: relative;
    color: #DFE4ED;
    .checkbox {
      font-size: 10px;
      position:absolute;
      left: 16px;
      top: 14%;
    }

    &:hover, &:focus {
      color: $white;
    }

    &.media-channel-item {
      width: 75%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.sidebar-visible {
  .primary-sidebar {
    width: 280px;
    overflow: auto;

    -webkit-box-shadow: -22px -1px 65px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -22px -1px 65px 3px rgba(0, 0, 0, 0.75);
    box-shadow: -22px -1px 65px 3px rgba(0, 0, 0, 0.75);
  }
}
