
.sticky-header {
  background-color: #1c2a41;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
  height: $stickyHeaderHeight;

  h3 {
    color: white;
    margin: 0;

    padding: 15px 0 0 15px;
  }
}
