
.sticky-header {
  padding: 0 15px;
  background-color:white;

  &.attached {
    position: fixed;
    top: 0;
    right: 0;
    left: 310px;
    z-index: 1000;
  }

  .line-items-wrapper {
    padding: 0 15px;
  }
  .line-item-header {
    padding: 16px 0 16px 0;
  }
  .line-item-row {
    padding: 0;
    border: 1px solid #ddd;
    border-left: 0;
    height:40px;

    .line-item {
      border-left:1px solid #ddd;
      text-align: center;
      padding: 0 12px;
      height: 100%;
      font-size: 0.9rem;

      .content {
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}
