
.table {

  margin-bottom:15px;

  .table-head {
    border: 1px solid #ddd;
    border-bottom: 0;
  }

  .table-head-row {
    padding: 8px;
  }

  .table-body {
    border: 1px solid #ddd;
    border-bottom: 0;
  }

  .table-row {
    .table-row-header {
      padding: 10px 0 10px 0;
      border-bottom: 1px solid #ddd;
    }
    .table-row-body {
      color: slategray;
      border-bottom: 1px solid #ddd;
    }
  }

  .table-cell {}
}
