
.tiles {

  height: 63px;
  overflow: hidden;

  .fa-times {
    display:none;
  }

  &.expanded {
    height: auto;
    overflow: visible;

    .fa-expand {
      display:none;
    }

    .fa-times {
      display:block;
    }
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0;
  }

  .tiles-row {
    margin-bottom:15px;
  }

  .tiles-header {
    padding: 8px 0 8px 8px;
    background-color: #11609b;
    color: white;
    border-left: 2px solid #29aae1;
    cursor: pointer;

    &:hover {
      color: #fcb041;
    }
  }

  .tile {
    &:nth-child(2) {
      padding: 0;
    }
    .tile-inner {
      background-color: white;
      border-left: 2px solid #11609b;
      font-size: 12px;
    }

    .tile-title {
      @extend .clearfix;
      border-bottom: 1px solid #eee;
      padding: 10px;

      .content {
        float:right;
      }
    }

    .tile-content {
      padding: 10px;
    }

    .tile-header {
      display:inline;
    }

    .content-row {
      @extend .clearfix;
      p {
        display: inline;
        padding: 0;
      }
      .amount {
        float: right;
        padding: 0;
        em {
          padding: 0;
          float:right;
          color: #AAA;
          font-weight: 300;
          font-size: 1.2rem;
        }
      }
      .content {
        display: inline;
      }
    }

    &.single-row {

      .tile-inner {
        @extend .clearfix;
      }
      .percent {
        padding: 10px 10px 0 0;
      }
      .target {
        @extend .pull-right;
        padding: 10px 10px 0 0;
        text-align: right;
      }

      em {
        color: #AAA;
        font-weight: 300;
        font-size: 1.2rem;

        .content {
          display: inline;
        }
      }

      .tile-title {
        border: 0;
      }
    }
  }
}
