
.tiles {

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 0;
  }

  .tiles-row {
    margin-bottom:15px;
  }

  .tiles-header {
    padding: 8px 0 8px 8px;
    background-color: #11609b;
    color: white;
    border-left: 2px solid #29aae1;
  }

  .tile {
    &:nth-child(2) {
      padding: 0;
    }
    .tile-inner {
      background-color: white;
      border-left: 2px solid #8dc63f;
      padding: 10px;

      font-size: 12px;
    }

    .tile-title {
      @extend .clearfix;
      border-bottom: 1px solid #ccc;
      padding-bottom: 10px;
      margin-bottom: 10px;

      .content {
        float:right;
      }
    }

    .tile-header {
      display:inline;
    }

    .content-row {
      @extend .clearfix;
      p {
        display: inline;
        padding: 0;
      }
      .amount {
        float: right;
        padding: 0;
        em {
          padding: 0;
          float:right;
          color: #AAA;
          font-weight: 300;
          font-size: 1.2rem;
        }
      }
      .content {
        display: inline;
      }
    }

    &.single-row {

      .tile-inner {
        @extend .clearfix;
      }

      em {
        padding: 0;
        color: #AAA;
        font-weight: 300;
        font-size: 1.2rem;

        .content {
          display: inline;
        }
      }

      .tile-title {
        padding-bottom: 0;
        padding-left: 0;
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
  }
}
